*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100%;
    width: 100%;
}

#container{
    width: 100%;
    height: 100vh;
}



#title{
    width: 100%;
    height: 100px;
    /* background: rgb(230, 116, 116); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.image{
    width: 300px;
    padding: auto;
    background-color: #fff;
}

#registration{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

#main{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#form{
    width: 25%;
    background: #FFFFFF;
    padding: 30px;
    /* margin: auto; */
    line-height: 35px;
    font-size: 18px;
}

.gender{
    display: flex;
    align-items: center;
}

.skill{
    display: flex;
    align-items: center;
}

.name, .birthdate, .email, .pass, .address, .gender{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.gender{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.skill{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

button{
    font-size: 15px;
    padding: 5px;
}

.iframe{
    width: 40%;
    height: 45vh;
    background-color: red;
}

iframe{
    width: 100%;
    height: 100%;
}